.idea
deployment/.env
deployment/backups
deployment/qgis-server/qgis-auth.db
deployment/qgis-server/qgis-auth-pwd.txt
deployment/volumes

__pycache__/

django_project/.pycharm_helpers/
django_project/core/settings/secret.py
django_project/web-app/js/dashboard/env.js