.idea
deployment/.env
deployment/backups
deployment/qgis-server/qgis-auth.db
deployment/qgis-server/qgis-auth-pwd.txt
deployment/volumes
deployment/sites-enabled/default.conf
deployment/mapproxy/app.py
deployment/mapproxy/full_example.yaml
deployment/mapproxy/full_seed_example.yaml
deployment/mapproxy/cache_data/*

__pycache__/

django_project/.pycharm_helpers/
django_project/core/settings/secret.py
django_project/web-app/js/dashboard/env.js
celerybeat-schedule*