{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>

    <link href="{% static 'js/libs/bootstrap/4.5.2/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'js/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
{#    <link href="{% static 'js/libs/jquery-ui/1.12.1/jquery-ui.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>#}
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>

    <script type="text/javascript" src="{% static 'js/libs/jquery.js/3.4.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery-ui/1.12.1/jquery-ui.js' %}"></script>
    {% block stylesheet %}{% endblock stylesheet %}
</head>

<body class="body">
{% block content %}{% endblock content %}
{% block javascript %}{% endblock javascript %}
</body>
</html>
