{% extends 'base.html' %}
{% load static %}

{% block title %}
    Map
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/leaflet.draw/1.0.4/leaflet.draw.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/home/main.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/home/widget.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}

{% block container %}
    {% csrf_token %}
    <div id="map"></div>

    {# town name and logo#}
    <div id="left-top" class="ui-overlay box-overlay">
        <div id="community" class="section">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            <div class="detail" style="display: none">
                <div class="selection">
                    <span class="name"></span>
                    <span class="arrow pull-right">▼</span>
                    <ul class="main-ul" style="display: none"></ul>
                </div>
                <div class="region"></div>
                <div class="province"></div>
            </div>
        </div>
        <div id="system" class="section" style="display: none">
            <div class="title">System
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                <span class="arrow pull-right">▼</span>
            </div>
            <div class="detail" style="display: none">
                <ul class="main-ul"></ul>
            </div>
        </div>
    </div>
    <div id="top-center" class="ui-overlay box-overlay">
        <div id="styles">
            <div class="selection">
                <span class="name"></span>
                <span class="arrow pull-right">▼</span>
                <ul class="main-ul" style="display: none"></ul>
            </div>
        </div>
    </div>
    <div id="side-panel">
        <div class="inner full">
            <div class="toggle-button"></div>
            <div class="content full">
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'libs/chart.js/2.8.0.chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/env.js' %}"></script>
    <script data-main="{% static 'js/dashboard/config.js' %}" src="{% static 'libs/require.js/2.3.6/require.min.js' %}"></script>
    <script>
        const urls = {
            feature_summary: "{% url 'civitas-features-summary'%}",
            feature_detail: "{% url 'feature-detail' 999 %}",
            feature_ticket_list: "{% url 'amlit_helpdesk:feature-ticket-list' id=0 %}",
            ticket_detail: "{% url 'helpdesk:view' ticket_id=0 %}"
        }
        const user = {
            communityID: parseInt(getCookie('community'))
        }
    </script>
    {% include 'modal/_create-ticket.html' %}

    {% include 'widget/_financial-estimation-donut-chart.html' %}
    {% include 'widget/_quantity-widget_row.html' %}
    {% include 'widget/_ticket-detail.html' %}
    {% include 'widget/_please_select_feature.html' %}
    {% include 'widget/_please_click_map.html' %}
    {% include 'widget/_no_data_found.html' %}
    {% include 'widget/_loading.html' %}

{% endblock extrascripts %}
