{% extends 'base.html' %}
{% load static %}

{% block title %}
    Map
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/leaflet.draw/1.0.4/leaflet.draw.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/home/main.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/home/widget.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}

{% block container %}
    {% csrf_token %}
    <div id="map"></div>

    {# town name and logo#}
    <div id="left-top" class="ui-overlay box-overlay">
        <div id="community" class="section">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            <div class="detail" style="display: none">
                <div class="selection">
                    <span class="name"></span>
                    <span class="arrow pull-right" style="opacity: 0">▼</span>
                    <ul class="main-ul" style="display: none"></ul>
                </div>
                <div class="region"></div>
                <div class="province"></div>
            </div>
        </div>
        <div id="system" class="section" style="display: none">
            <div class="title">System
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                <span class="arrow pull-right" style="opacity: 0">▼</span>
            </div>
            <div class="detail" style="display: none">
                <ul class="main-ul"></ul>
            </div>
        </div>
    </div>
    <div id="top-center" class="ui-overlay box-overlay">
        <div id="styles">
            <div class="selection">
                <span class="name"></span>
                <span class="arrow pull-right" style="opacity: 0">▼</span>
                <ul class="main-ul" style="display: none"></ul>
            </div>
        </div>
    </div>
    <div id="side-panel">
        <div class="inner full">
            <div class="toggle-button"></div>
            <div class="content full">
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'libs/chart.js/2.8.0.chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
    <script data-main="{% static 'js/dashboard/config.js' %}" src="{% static 'libs/require.js/2.3.6/require.min.js' %}"></script>

    <script type='text/template' id='_financial-estimation-donut-chart'>
        <div>
            <div class="navigation">
                <span><i class="fa fa-pie-chart" aria-hidden="true"></i></span> ► <span>Wastewater Collection</span> ► <span>Pump</span>
            </div>
            <div class="section">
                <canvas id="renewal-cost-donut"></canvas>
                <div class="sub-title">Estimated Renewal Cost</div>
            </div>
            <div class="section">
                <canvas id="maintenance-cost-donut"></canvas>
                <div class="sub-title">Estimated Annual Maintenance Cost</div>
            </div>
            <div class="section">
                <canvas id="annual-reserve-donut"></canvas>
                <div class="sub-title">Estimated Annual Reserve</div>
            </div>
        </div>
    </script>

    <script type='text/template' id='_quantity-widget_row'>
        <div class="row">
            <div class="col col-6">
                <% if(open) { %>
                <a data-toggle="collapse" href="#quantity-<%- id %>" role="button" aria-expanded="true" aria-controls="sub-1" style="margin-left: <%- margin %>px">
                    <%- name %>
                </a>
                <% }else{ %>
                <a data-toggle="collapse" href="#quantity-<%- id %>" role="button" aria-expanded="false" aria-controls="sub-1" style="margin-left: <%- margin %>px">
                    <%- name %>
                </a>
                <% } %>
            </div>
            <div class="col"><%- quantity %> <%- unit %></div>
        </div>
        <% if(open) { %>
        <div id="quantity-<%- id %>" class="sub collapse show">
            <%= rows %>
        </div>
        <% }else{ %>
        <div id="quantity-<%- id %>" class="sub collapse">
            <%= rows %>
        </div>
        <% } %>
    </script>
{% endblock extrascripts %}
