{% extends 'base.html' %}
{% load static %}

{% block title %}
    Map
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'js/libs/leaflet/1.5.1/leaflet.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'js/libs/leaflet.draw/1.0.4/leaflet.draw.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/map.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}

{% block content %}
    {% csrf_token %}
    <div id="map"></div>
    <div id="side-panel">
        <div id="system-list" hidden>
        </div>
    </div>

    <div id="legend"></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
    <script data-main="{% static 'js/config.js' %}" src="{% static 'js/libs/require.js/2.3.6/require.min.js' %}"></script>

    <script type='text/template' id='_system'>
        <h3 data-system-id="<%= id %>" class="system-header"><%= name %></h3>
        <div id="system-<%= id %>">
            <div class="content">
                <table>
                    <tr>
                        <td>Province</td>
                        <td><%= community.community %></td>
                    </tr>
                    <tr>
                        <td>Region</td>
                        <td><%= community.region %></td>
                    </tr>
                    <tr>
                        <td>Community</td>
                        <td><%= community.province %></td>
                    </tr>
                </table>
            </div>
        </div>
    </script>
{% endblock javascript %}
