{% load i18n %}
{% load static %}
<div id="navbar">
    <div class="title"><a href="/">Civitas Asset Management Application (CAM)</a></div>
    <div class="pull-right navbar-options">
        {% if user.is_authenticated %}
            <div>
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ user.get_username }}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="profile">
                            <a href="{% url 'user-detail' user.get_username %}" style="text-align: center">
                                <img class="profile-picture" src="{% static "/img/no-profile.png" %}">
                                <b>{{ user.get_username }}</b>
                            </a>
                            <a class="dropdown-button" href="{% url "organisation_list" %}">{% trans "Manage organisations" %}</a>
                            <div style="height: 20px"></div>
                        </div>
                    </li>
                    {% if user.is_staff %}
                        <li>
                            <a href="/admin">{% trans "Admin" %}</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'helpdesk:dashboard' %}">{% trans "Helpdesk" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}?next=/">{% trans "Logout" %}</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="{% url 'login' %}?next=/">Login</a>
        {% endif %}
    </div>
</div>