{% extends 'base.html' %}
{% load static %}

{% block title %}
    Report
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/report.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}

{% block content %}
    {% csrf_token %}
    <div id="report" class="container">
        <h1>REPORTS</h1>
        <div id="header" class="row">
            <div class="col-3 col-name"></div>
        </div>

        <div id="table">
        </div>
    </div>
    <script type='text/template' id='_report_row'>
        <div class="row <%= extra_class %>">
            <div class="col-3 col-name"><%= name %></div>
        </div>
    </script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
    <script data-main="{% static 'js/report/config.js' %}" src="{% static 'js/libs/require.js/2.3.6/require.min.js' %}"></script>
    <script>
        let reports = {{ reports |safe}};
    </script>
{% endblock javascript %}
