{% extends 'base.html' %}
{% load static %}

{% block title %}
    Report
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/report.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}

{% block content %}
    {% csrf_token %}
    <div id="navigation" class="row">
        <div class="col-12" data-report="summary">Summary</div>
        <div id="projected-expenditure" class="col-12 disabled" data-report="projected-graph">
            Projected graph
            <div id="projected-loading"></div>
        </div>
    </div>
    <div id="report" class="container">
        <h1 id="report-header">summary</h1>
        <div id="report-table">
            <div id="header" class="row">
                <div class="col-3 col-name"></div>
            </div>

            <div id="table">
            </div>
        </div>
        <canvas id="report-chart">
        </canvas>
    </div>
    <script type='text/template' id='_report_row'>
        <div class="row <%= extra_class %>">
            <div class="col-3 col-name"><%= name %></div>
        </div>
    </script>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
    <script data-main="{% static 'js/report/config.js' %}" src="{% static 'libs/require.js/2.3.6/require.min.js' %}"></script>
    <script>
        let reports = {
            'summary':{{ reports |safe}},
            'projected-graph':{}
        }
    </script>
{% endblock javascript %}
