.widget {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
}

.widget:first-child {
    border-top: none;
}

.widget .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* FINANCIAL ESTIMATE DONUT CHARTS */
#financial-estimation-donut-chart .section {
    width: 100%;
    margin-bottom: 10px;
}

#financial-estimation-donut-chart .section .sub-title {
    text-align: center;
    margin-top: 10px;
}

#financial-estimation-donut-chart .navigation {
    margin-bottom: 10px;
    color: gray;
}

#financial-estimation-donut-chart .navigation span:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* WIDGET QUANTITY */
#widget-quantity .row {
    margin: 0;
    border-top: 1px solid #CCC;
}

#widget-quantity .content-widget {
    margin-bottom: 10px;
    margin-top: 10px;
}

#widget-quantity .box-overlay > .row:first-child {
    border-top: none;
}

#widget-quantity .row a {
    display: inline-block;
}

#widget-quantity .row .bar {
    width: 100%;
    height: 100%;
    background: #dddddd;
    border-radius: 5px;
}

#widget-quantity .col {
    padding: 5px 7px;
}

#widget-quantity .sub {
    background: rgba(220, 220, 220, 0.3);
}
