{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Login{% endblock %}
{% block stylesheet %}
    <link href="{% static 'admin/css/login.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'admin/css/base.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <style>
        #header, input[type=submit] {
            background-color: var(--primary-color);
        }

        input[type=submit]:hover {
            background-color: var(--primary-color);
            opacity: 0.7;
        }
    </style>
{% endblock stylesheet %}

{% block container %}
    <div class="login">
        <div id="container">
            <div id="header">
                <div id="branding">
                    <h1 id="site-name"><a>Login</a></h1>
                </div>
            </div>
            <div id="content" class="colM">
                <div id="content-main">
                    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                        <div class="form-row">
                            {{ form.username.errors }}
                            {{ form.username.label_tag }} {{ form.username }}
                        </div>
                        <div class="form-row">
                            {{ form.password.errors }}
                            {{ form.password.label_tag }} {{ form.password }}
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        {% url 'admin_password_reset' as password_reset_url %}
                        {% if password_reset_url %}
                            <div class="password-reset-link">
                                <a href="{{ password_reset_url }}">Forgotten your password or username?</a>
                            </div>
                        {% endif %}
                        <div class="submit-row">
                            <input type="submit" value="Log in">
                        </div>
                    </form>
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
{% endblock %}