Django==2.2.15
djangorestframework==3.9.2
djangorestframework-gis==0.14
django-phone-field==1.8.1
psycopg2-binary==2.8.3
Pillow
requests

# third party
pyexcel-xls
pyexcel-xlsx

# for scss setups
libsass==0.20.1
django-compressor==2.4
django-sass-processor==0.8.2