html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

.content {
    padding: 10px;
}

.ui-accordion-header {
    background-color: #F5A424;
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    /* shadow */
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.ui-accordion-header:hover {
    opacity: 0.8;
}

.ui-state-focus:focus {
    outline: none;
}

#side-panel {
    background: white;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 999;
    /* shadow */
    -webkit-box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.2);
}

#side-panel::-webkit-scrollbar {
    display: none;
}

#side-panel table {
    width: 100%;
}

#side-panel td {
    padding: 5px 10px;
}

#side-panel td:first-child {
    font-weight: 600;
}

.feature-link:hover {
    cursor: pointer;
    text-decoration: none;
}

.leaflet-popup-content td, .leaflet-popup-contentth {
    border: 1px solid #ddd;
    padding: 5px;
}

#legend {
    background: white;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 999;
    border-radius: 5px;
    /* shadow */
    -webkit-box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.2);
    padding: 10px;

}

#legend img {
    height: 16px;
}

#legend div {
    width: 16px;
    height: 16px;
}

#legend div.Point {
    border-radius: 20px;
}

#legend div.Line {
    height: 2px;
}

#legend td {
    padding: 5px;
}