.container {
    padding-top: 20px;
}

#report .row {
    margin-left: 0;
    margin-right: 0;
}

#report .row div {
    padding: 10px;
    padding-right: 0;
}

#report .number, #header .col {
    text-align: right;
}

#report .percent {
    font-size: 12px;
    font-style: italic;
    opacity: 0.6;
    flex: 0 0 60px;
}

#header {
    font-weight: 600;
}

#header.row {
    border-bottom: 1px solid #dee2e6;
}


#table .total {
    background: #d1ffdd;
    border: 1px solid #CCC;
}

#table .row {
    border-top: 1px solid #dee2e6;
}

.sub {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background: rgba(220, 220, 220, 0.3);
}

.col-name {
    padding-left: 10px !important;
}