{% load i18n %}
<script type='text/template' id='_create-ticket'>
    <form action="{% url 'amlit_helpdesk:submit' %}" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="form-group">
            <label for="feature_id">Create ticket for <b><%= id %></b></label>
            <input id="feature_id" type="text" name="feature_id" class="form-control" autocomplete="off" value="<%= id %>" hidden>
        </div>
        {% for field in create_ticket_form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="form-group">
                    <label for='id_{{ field.name }}'>
                        {{ field.label }}
                        {% if not field.field.required %}
                            ({% trans "Optional" %})
                        {% endif %}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <small class='error'>{{ field.errors }}</small>
                    {% endif %}
                    {% if field.help_text %}
                        <small class='form_help_text help-block'>{% trans field.help_text %}</small>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-send"></i> {% trans "Submit Ticket" %}
        </button>
    </form>
</script>