<script type='text/template' id='_financial-estimation-donut-chart'>
    <div>
        <div class="navigation">
            <span><i class="fa fa-pie-chart" aria-hidden="true"></i></span> ► <span>Wastewater Collection</span> ► <span>Pump</span>
        </div>
        <div class="section">
            <canvas id="renewal-cost-donut"></canvas>
            <div class="sub-title">Estimated Renewal Cost</div>
        </div>
        <div class="section">
            <canvas id="maintenance-cost-donut"></canvas>
            <div class="sub-title">Estimated Annual Maintenance Cost</div>
        </div>
        <div class="section">
            <canvas id="annual-reserve-donut"></canvas>
            <div class="sub-title">Estimated Annual Reserve</div>
        </div>
    </div>
</script>