html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.full {
    height: 100%;
    width: 100%;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------------- */
#content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}

.ui-overlay {
    z-index: 999;
}

.box-overlay, .leaflet-control {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) !important;
    border: none !important;
}

.box-overlay .section {
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

#community {
    padding: 10px 5px;
}

.box-overlay .section:first-child {
    border-top: none;
    padding-top: 5px;
}

.main-ul {
    padding: 0;
    font-size: 14px;
    margin: 0;
    max-height: 500px;
    overflow-y: scroll;
}

.main-ul li {
    padding: 5px 10px;
    list-style-type: none;
    width: 100%;
    font-size: 14px;
}

/* SELECTION */
.selection {
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    cursor: pointer;
    min-width: 180px;
}

.selection .arrow {
    margin-right: 10px;
}

.selection ul {
    position: absolute;
    background: white;
    cursor: pointer;
    padding: 0;
    z-index: 999;
    width: 100%;
    border: 1px solid #ddd;
}

.selection li:hover {
    background: #eee;
    font-weight: bold;
}

/* TOP LEFT INDICATOR */
#left-top {
    left: 8px;
    position: absolute;
    background: none;
    z-index: 9999;
    width: 270px;
    box-shadow: none;
    height: auto;
}

#left-top.show {
    height: 100%;
}

#left-top .inner {
    padding-top: 8px;
    padding-bottom: 8px;
}

#left-top .loading {
    color: gray;
    font-size: 14px;
}

#left-top .selection ul {
    top: 100%;
    left: 0;
}

#left-top .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

#left-top .detail {
    font-size: 12px;
}

#left-top .name {
    font-size: 18px;
}

#left-top .name,
#top-center .name,
#left-top .region {
    font-weight: bold;
}

#left-top .loading,
#left-top .name,
#left-top .region,
#left-top .province,
#left-top .title {
    padding: 0 10px;
}

#left-top .region,
#left-top .province,
#left-top .description {
    opacity: 0.7;
}

#left-top .content {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}

#left-top #layers {
    border: none;
    flex-grow: 1;
    overflow-y: auto;
    display: none;
}

#layer-list-toggle {
    text-align: center;
    padding: 10px;
    opacity: 0.5;
}

#layer-list-toggle:hover {
    opacity: 1;
    cursor: pointer;
}

#left-top.show #layers {
    display: block;
}

/* toogle layer list */
#left-top #see-layer-list {
    display: inline-block;
}

#left-top #hide-layer-list {
    display: none;
}

#left-top.show #see-layer-list {
    display: none;
}

#left-top.show #hide-layer-list {
    display: inline-block;
}

#layers {
    font-size: 14px;
}

#layers i {
    margin-right: 5px;
    cursor: pointer;
}

#layers i:hover {
    opacity: 0.6;
}

#layers a:hover {
    text-decoration: none;
}

#layers .layer-list {
    padding-left: 37px;
}

#layers img {
    margin-top: -10px;
    margin-bottom: 10px;
}

.layer-row, .layer-row a {
    color: #aaa;
}

.layer-row img {
    opacity: 0.5;
    filter: grayscale(100%);
}

.layer-row .fa-check-square {
    display: none;
}

.layer-row .fa-square-o {
    display: inline-block;
}

.layer-row.active, .layer-row.active a {
    color: green;
}

.layer-row.active .fa-check-square {
    display: inline-block;
}

.layer-row.active .fa-square-o {
    display: none;
}

.layer-row.active img {
    opacity: 1;
    filter: grayscale(0%)
}

/* BUTTON COLLAPSE*/
.button-collapse .fa-caret-down {
    display: none;
}

.button-collapse .fa-caret-up {
    display: inline-block;
}

.button-collapse.collapsed .fa-caret-down {
    display: inline-block;
}

.button-collapse.collapsed .fa-caret-up {
    display: none;
}

/* TOP CENTER */
#top-center {
    top: var(--navbar-height);
    margin-top: 8px;
    left: 50%;
    position: absolute;
    z-index: 999;
    width: 220px;
    margin-left: -100px;
}

#top-center .name {
    padding: 0 20px;
}

/* SYSTEM */
#system .selection {
    font-size: 14px;
}

#system input {
    margin-right: 5px;
    cursor: pointer;
}

#system .description {
    padding-left: 20px;
    font-style: italic;
    font-size: 14px;
}

#system .title {
    cursor: pointer;
}

/* STYLES */
#styles .selection {
    padding: 5px 0;
    font-size: 14px;
}

#styles .selection ul {
    top: 100%;
    left: 0;
}

/* SIDE PANEL */
.side-panel {
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: var(--navbar-height);
    z-index: 999;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.side-panel .inner {
    position: relative;
}

.side-panel .content {
    overflow-y: auto;
}

.side-panel .toggle-button {
    position: absolute;
    left: -26px;
    top: 8px;
    padding: 15px 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: -1px 0px 4px rgb(0 0 0 / 30%);
    color: #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 10px;
}

.side-panel .toggle-button:hover {
    color: rgba(170, 170, 170, 0.7);
}

.side-panel .toggle-button:after {
    content: '►';
}

.side-panel .toggle-button.hidden:after {
    content: '◄';
}

.side-panel .loading {
    position: relative;
    width: 100%;
}

.side-panel .loading p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    opacity: 0.8;
}

.side-panel .loading .blink {
    animation: blinker 2s linear infinite;
}

.side-panel .loading .error {
    color: red;
}

#left-panel {
    left: 0;
    width: 300px;
}

#right-panel {
    right: 0;
    width: 350px;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

.leaflet-control-layers, .leaflet-control-layers-overlays label {
    cursor: pointer;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}