.widget {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.widget:first-child {
    border-top: none;
}

.widget .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* FINANCIAL ESTIMATE DONUT CHARTS */
#financial-estimation-donut-chart .section {
    width: 100%;
    margin-bottom: 10px;
}

#financial-estimation-donut-chart .section .sub-title {
    text-align: center;
    margin-top: 10px;
}

#financial-estimation-donut-chart .navigation {
    margin-bottom: 10px;
    color: gray;
}

#financial-estimation-donut-chart .navigation span:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* WIDGET QUANTITY */
#widget-quantity .row {
    margin: 0;
    border-top: 1px solid #CCC;
}

#widget-quantity .content-widget {
    margin-bottom: 10px;
    margin-top: 10px;
}

#widget-quantity .box-overlay > .row:first-child {
    border-top: none;
}

#widget-quantity .row a {
    display: inline-block;
}

#widget-quantity .row .bar {
    width: 100%;
    height: 100%;
    background: #dddddd;
    border-radius: 5px;
}

#widget-quantity .col {
    padding: 5px 7px;
}

#widget-quantity .sub {
    background: rgba(220, 220, 220, 0.3);
}

/* TICKET LIST */
.ticket-detail {
    border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 10px;
    cursor: pointer;
    display: block;
}

.ticket-detail:hover {
    background-color: #eee;
    text-decoration: none;
}

.ticket-detail .title {
    font-size: 16px;
    margin-bottom: 0;
}

.ticket-detail .description {
    font-size: 14px;
    font-style: italic;
    color: gray;

}

/* FEATURE DETAIL */
#features-detail table {
    margin-bottom: 20px;
    width: 100%;
}

#features-detail .tab-content,
#features-detail .tab-pane {
    width: 100%;
}

#features-detail .nav-tabs a {
    padding: 10px;
    display: block;
    text-decoration: none;
}

#features-detail .nav-tabs a:hover {
    color: #777;
    background-color: #eee;
    border-color: #eee #eee #ddd;
}

#features-detail .nav-tabs a.active,
#features-detail .nav-tabs a.active:hover {
    border-top: 1px solid #ccc;;
    border-left: 1px solid #ccc;;
    border-right: 1px solid #ccc;;
    color: #555;
    background-color: #fff;
    cursor: default;
}

#features-detail .nav-tabs {
    border: none;
}

#features-detail table .extra-property {
    display: none;
}

#features-detail table .button {
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
}

#features-detail table .button.hidden:after {
    content: "▼";
}

#features-detail table .button.expand:after {
    content: "▲";
}

#features-detail table .button:hover {
    opacity: 0.5;
}

#features-detail table th,
#features-detail table td {
    border: 1px solid #ccc;
    padding: 5px 10px;
}

#features-detail table th {
    background-color: #ddd;
}

.fa-ticket {
    color: green;
    cursor: pointer;
    margin-top: 3px;
}

.fa-ticket:hover {
    opacity: 0.5;
}